USE [master]
GO
/****** Object:  Database [NexaWorks_Project]    Script Date: 22/08/2025 15:36:30 ******/
CREATE DATABASE [NexaWorks_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexaWorks_Project', FILENAME = N'C:\Users\alexa\NexaWorks_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexaWorks_Project_log', FILENAME = N'C:\Users\alexa\NexaWorks_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexaWorks_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NexaWorks_Project]
GO
/****** Object:  Table [dbo].[Compatabilite]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compatabilite](
	[id_version] [int] NOT NULL,
	[id_os] [int] NOT NULL,
 CONSTRAINT [PK_Compatabilite] PRIMARY KEY CLUSTERED 
(
	[id_version] ASC,
	[id_os] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[id_produit] [int] NOT NULL,
	[nom_produit] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Produit] PRIMARY KEY CLUSTERED 
(
	[id_produit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemeExploitation]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemeExploitation](
	[id_os] [int] NOT NULL,
	[nom_os] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SystemeExploitation] PRIMARY KEY CLUSTERED 
(
	[id_os] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[id_ticket] [int] NOT NULL,
	[id_version] [int] NOT NULL,
	[id_os] [int] NOT NULL,
	[date_creation] [datetime] NOT NULL,
	[date_resolution] [datetime] NULL,
	[staut] [varchar](50) NOT NULL,
	[probleme] [varchar](max) NOT NULL,
	[resolution] [varchar](max) NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[id_ticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[id_version] [int] NOT NULL,
	[numero_version] [varchar](10) NULL,
	[id_produit] [int] NOT NULL,
 CONSTRAINT [PK_Version] PRIMARY KEY CLUSTERED 
(
	[id_version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Produit] ([id_produit], [nom_produit]) VALUES (1, N'Trader en Herb')
INSERT [dbo].[Produit] ([id_produit], [nom_produit]) VALUES (2, N'Maître des Investissements')
INSERT [dbo].[Produit] ([id_produit], [nom_produit]) VALUES (3, N'Planificateur d’Entraînement')
GO
INSERT [dbo].[SystemeExploitation] ([id_os], [nom_os]) VALUES (1, N'Linux')
INSERT [dbo].[SystemeExploitation] ([id_os], [nom_os]) VALUES (2, N'MacOS')
INSERT [dbo].[SystemeExploitation] ([id_os], [nom_os]) VALUES (3, N'Windows')
GO
INSERT [dbo].[Ticket] ([id_ticket], [id_version], [id_os], [date_creation], [date_resolution], [staut], [probleme], [resolution]) VALUES (1, 1, 1, CAST(N'2025-01-05T00:00:00.000' AS DateTime), CAST(N'2025-01-10T00:00:00.000' AS DateTime), N'Résolu', N'Crash au démarrage', N'Correctif appliqué en 1.1')
INSERT [dbo].[Ticket] ([id_ticket], [id_version], [id_os], [date_creation], [date_resolution], [staut], [probleme], [resolution]) VALUES (2, 2, 3, CAST(N'2025-02-01T00:00:00.000' AS DateTime), NULL, N'Ouvert', N'Interface gelée après clic', NULL)
INSERT [dbo].[Ticket] ([id_ticket], [id_version], [id_os], [date_creation], [date_resolution], [staut], [probleme], [resolution]) VALUES (3, 5, 2, CAST(N'2025-02-14T00:00:00.000' AS DateTime), CAST(N'2025-02-20T00:00:00.000' AS DateTime), N'Résolu', N'Erreur d''authentification', N'Bug corrigé')
GO
INSERT [dbo].[Version] ([id_version], [numero_version], [id_produit]) VALUES (1, N'1.0', 1)
INSERT [dbo].[Version] ([id_version], [numero_version], [id_produit]) VALUES (2, N'1.1', 1)
INSERT [dbo].[Version] ([id_version], [numero_version], [id_produit]) VALUES (3, N'1.2', 1)
GO
ALTER TABLE [dbo].[Compatabilite]  WITH CHECK ADD  CONSTRAINT [FK_Compatabilite_SystemeExploitation] FOREIGN KEY([id_os])
REFERENCES [dbo].[SystemeExploitation] ([id_os])
GO
ALTER TABLE [dbo].[Compatabilite] CHECK CONSTRAINT [FK_Compatabilite_SystemeExploitation]
GO
ALTER TABLE [dbo].[Compatabilite]  WITH CHECK ADD  CONSTRAINT [FK_Compatabilite_Version] FOREIGN KEY([id_version])
REFERENCES [dbo].[Version] ([id_version])
GO
ALTER TABLE [dbo].[Compatabilite] CHECK CONSTRAINT [FK_Compatabilite_Version]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_SystemeExploitation] FOREIGN KEY([id_os])
REFERENCES [dbo].[SystemeExploitation] ([id_os])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_SystemeExploitation]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Version] FOREIGN KEY([id_version])
REFERENCES [dbo].[Version] ([id_version])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Version]
GO
ALTER TABLE [dbo].[Version]  WITH CHECK ADD  CONSTRAINT [FK_Version_Produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produit] ([id_produit])
GO
ALTER TABLE [dbo].[Version] CHECK CONSTRAINT [FK_Version_Produit]
GO
/****** Object:  StoredProcedure [dbo].[GetAllTickets]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllTickets]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.id_ticket,
        t.resolution,
        t.probleme,
        t.staut,
        t.date_creation,
        v.numero_version,
        p.nom_produit
    FROM Ticket t
    JOIN Version v ON t.id_version = v.id_version
    JOIN Produit p ON v.id_produit = p.id_produit;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTicketsByDateRange]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTicketsByDateRange]
    @date_debut DATE,
    @date_fin DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.id_ticket, t.resolution, t.probleme, t.staut, t.date_creation,
        v.numero_version, p.nom_produit
    FROM Ticket t
    JOIN Version v ON t.id_version = v.id_version
    JOIN Produit p ON v.id_produit = p.id_produit
    WHERE t.date_creation BETWEEN @date_debut AND @date_fin;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTicketsByKeywords]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTicketsByKeywords]
    @mots_cles NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Keywords TABLE (mot NVARCHAR(100));

    IF @mots_cles IS NOT NULL AND LTRIM(RTRIM(@mots_cles)) <> ''
    BEGIN
        INSERT INTO @Keywords(mot)
        SELECT LTRIM(RTRIM(value))
        FROM STRING_SPLIT(@mots_cles, ',');
    END

    SELECT 
        t.id_ticket, t.resolution, t.probleme, t.staut, t.date_creation,
        v.numero_version, p.nom_produit
    FROM Ticket t
    JOIN Version v ON t.id_version = v.id_version
    JOIN Produit p ON v.id_produit = p.id_produit
    WHERE EXISTS (
        SELECT 1 FROM @Keywords k
        WHERE t.probleme LIKE '%' + k.mot + '%'
           OR t.resolution LIKE '%' + k.mot + '%'
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTicketsByProduct]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTicketsByProduct]
    @id_produit INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.id_ticket, t.resolution, t.probleme, t.staut, t.date_creation,
        v.numero_version, p.nom_produit
    FROM Ticket t
    JOIN Version v ON t.id_version = v.id_version
    JOIN Produit p ON v.id_produit = p.id_produit
    WHERE v.id_produit = @id_produit;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetTicketsByStatus]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTicketsByStatus]
    @statut NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        t.id_ticket, t.resolution, t.probleme, t.staut, t.date_creation,
        v.numero_version, p.nom_produit
    FROM Ticket t
    JOIN Version v ON t.id_version = v.id_version
    JOIN Produit p ON v.id_produit = p.id_produit
    WHERE t.staut = @statut;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenirTickets]    Script Date: 22/08/2025 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenirTickets]
    @statut NVARCHAR(50) = NULL,               -- 'ouvert' ou 'résolu'
    @id_produit INT = NULL,
    @id_version INT = NULL,
    @date_debut DATE = NULL,
    @date_fin DATE = NULL,
    @mots_cles NVARCHAR(MAX) = NULL           
AS
BEGIN
    SET NOCOUNT ON;

    -- Split keywords into a table variable
    DECLARE @Keywords TABLE (mot NVARCHAR(100));

    IF @mots_cles IS NOT NULL AND LTRIM(RTRIM(@mots_cles)) <> ''
    BEGIN
        INSERT INTO @Keywords(mot)
        SELECT LTRIM(RTRIM(value))
        FROM STRING_SPLIT(@mots_cles, ',');
    END

    SELECT 
        t.id_ticket,
        t.resolution,
        t.probleme,
        t.staut,                  
        t.date_creation,
        v.numero_version,
        p.nom_produit
    FROM Ticket t
    JOIN Version v ON t.id_version = v.id_version
    JOIN Produit p ON v.id_produit = p.id_produit
    WHERE 
        (@statut IS NULL OR t.staut = @statut)
        AND (@id_produit IS NULL OR v.id_produit = @id_produit)
        AND (@id_version IS NULL OR t.id_version = @id_version)
        AND (@date_debut IS NULL OR t.date_creation >= @date_debut)
        AND (@date_fin IS NULL OR t.date_creation <= @date_fin)
        AND (
            -- If no keywords, skip this filter
            NOT EXISTS (SELECT 1 FROM @Keywords)
            -- Otherwise, check if any keyword matches probleme or resolution
            OR EXISTS (
                SELECT 1 FROM @Keywords k
                WHERE t.probleme LIKE '%' + k.mot + '%'
                   OR t.resolution LIKE '%' + k.mot + '%'
            )
        );
END;
GO
USE [master]
GO
